body {
    display: flex;
    justify-content: center;
}

#grid-container {
    width: 480px;
    height: 480px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
}

.square {
    flex: 1 0 30px;
    height: 30px;
    background-color: white;
}